@{
    ViewData["Title"] = "Home Page";
}

<div class="cart">
    @Html.Partial("carIco")
</div>

<style>
    .cart-location {
        position: fixed;
        top: 10px;
        right: 10px;
        padding: 12px 25px;
    }
</style>

<body>
    <div class="container mt-5">
        <div class="text-center">

            <img src="https://1drv.ms/i/c/eb0e7e40f8f96d74/IQOZChdoSgWySKJrgNwnjbVoAb87N5XywaqGA_O0Th-4pf8?width=256" alt="Logo de TechHood">


            <h1 class="mt-4">Bienvenidos a TechHood</h1>


            <p class="lead">Tu tienda de tecnología de confianza. Encuentra lo último en gadgets, componentes y más.</p>

            <br><br><br><br><br><br><br>
            <p>Gracias por visitarnos. Explora nuestra página para descubrir más sobre los productos y servicios que ofrecemos.</p>
        </div>
    </div>
</body>
